*{
    background: peachpuff;
}
h1{
        background: transparent;
        height: 100%;
        margin:0;
        font-family: Bradley Hand, cursive;
    }

div.container{
    display: flex;
    justify-content: center;
}

div.categorii{
    padding: 0;
    display: block;
    align-content: center;
    height:400px;
    width: 400px;
    margin: 100px 20px;
    text-align: center;
}

div.deserturi {
    display: block;
    align-content: center;
    height:400px;
    width: 400px;
    margin-top:100px;
    /*margin-left:40px;*/
    text-align: center;
}

div.categorii img{
    width: calc(100% - 58px);
    height: calc(100% - 58px);
}

.categorii a {
    /*position: absolute; !* Poziționează linkul absolut față de container *!*/
    /*bottom:18%;*/
    /*left:18%; !* Centrează orizontal *!*/
    background-color: rgba(0, 0, 0, 0.5); /* Fundal semitransparent */
    color: white; /* Culoarea textului */
    padding: 10px 20px; /* Spațiu interior */
    text-decoration: none; /* Elimină sublinierea */
    border-radius: 5px; /* Colțuri rotunjite */
    font-size: 18px; /* Dimensiunea textului */
    font-weight: bold; /* Text îngroșat */
}
/*#tort1 {*/
/*    margin: 0 auto; !* Centrează imaginea pe orizontală în mod implicit *!*/
/*    margin-left: 40px; !* Mută imaginea mai la dreapta *!*/
/*    max-width: 80%; !* Asigură că imaginea nu depășește containerul *!*/
/*    height: auto; !* Păstrează proporțiile imaginii *!*/
/*}*/
div.supe {
    /*position: absolute;*/
    /*left:30%; !* mijloc pe orizontala*!*/
    /*top:35%; !* mijloc pe verticala*!*/
    /*transform: translate(-50%, -50%); !* Corectează poziția pentru centrare perfectă *!*/
    display: block;
    place-items: center;
    align-content: center;
    height:400px;
    width: 400px;
    margin-top:100px;
    /*margin-left:500px;*/
    text-align: center;
}

div.supe img{
    width: 100%;
    height: 100%;
}

/*#supa1 {*/
/*        width: 360px;*/
/*        height:260px;*/
/*        margin-bottom: 50px;*/

/*}*/
.links {
    margin-top: 20px; /* Mută hyperlink-ul cu 10px mai jos */
    background-color: rgba(0, 0, 0, 0.5); /* Fundal semitransparent */
    color: white; /* Culoarea textului */
    padding: 10px 20px; /* Spațiu interior */
    text-decoration: none; /* Elimină sublinierea */
    border-radius: 5px; /* Colțuri rotunjite */
    font-size: 18px; /* Dimensiunea textului */
    font-weight: bold; /* Text îngroșat */
}

div
