<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bucataria magica</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
<h1 align="center">Bucătăria Magică</h1>
<div class="container">
    <div class = "categorii">
        <img src="{{ url_for('static', filename='images/pozaMancare.jpeg') }}" id="tort1">
        <a href = "/Retete" title="Retete" class="links" > Retete delicioase </a>
    </div>

</div>


</body>
</html>
